@use '../../styles/variables.scss' as v;

.navLinkContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: v.$primaryDark;
    padding: 1.2rem;

    h1 {
        @media #{v.$mq-smallScreen} {
            font-size: 1.3rem;
        }
    }

    a {
        margin: 0 .75rem;
    }
}