@use '../../../styles/variables.scss' as v;

.videoPreviewContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  border-radius: 8px;
  overflow: hidden;
  transition: transform 0.2s ease;
  cursor: pointer;
  margin-bottom: 1rem;
  min-height: 280px;  

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 8px;
    border: 2px solid transparent;
    transition: border-color 0.3s ease;
    pointer-events: none;
    z-index: 1;
  }

  &:hover {
    transform: translateY(-4px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);

    &.twitchVideo::before {
      border-color: v.$twitch-primary;
    }

    &.youtubeVideo::before {
      border-color: red;
    }
  }
  
  // Media queries using variables
  @media #{v.$mq-largeScreen} {
    min-height: 260px;
  }
  
  @media #{v.$mq-smallScreen} {
    min-height: 240px;
  }
  
  @media #{v.$mq-smallScreenTwo} {
    min-height: 220px;
  }
}

.thumbnailContainer {
  position: relative;
  width: 100%;
  padding-top: 56.25%; // 16:9 aspect ratio
  background-color: #7f797963;
  overflow: hidden;
  margin: 0 auto;
  flex-shrink: 0; // Prevent the thumbnail from shrinking
}

.thumbnail {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.durationTag {
  position: absolute; 
  bottom: 8px;
  left: 8px;
  color: white;
  padding: .3rem .5rem;
  font-size: 0.8rem;
  font-weight: 500;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 2px;
}

// Badges
.sourceBadge {
  position: absolute;
  bottom: 8px;
  right: 8px;
  padding: 0.1rem .5rem;
  border-radius: 2px;
  font-size: 0.7rem;
  font-weight: bold;
  text-transform: uppercase;
  text-align: left;
  letter-spacing: 0.5px;
}

.twitchBadge {
  background-color: v.$twitch-primary;
  color: white;
}

.youtubeBadge {
  background-color: v.$youtube-primary;
  color: white;
}

.videoInfo {
  display: flex;
  flex-direction: column;
  background-color: #11111182;
  flex: 1; // This makes the info section expand to fill available space
  padding: .5rem;
  justify-content: space-between;
}

.videoTitle {
  font-weight: 600;
  margin-bottom: 8px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1.3;
  
  @media #{v.$mq-smallScreen} {
    font-size: 0.95rem;
    margin-bottom: 6px;
    -webkit-line-clamp: 2;
  }
  
  @media #{v.$mq-smallScreenTwo} {
    font-size: 0.9rem;
    margin-bottom: 4px;
  }
}

.videoChannelName {
  font-size: 0.9rem;
  color: #d3cbcb;
  margin-bottom: 6px;
  font-weight: 500;
  
  @media #{v.$mq-smallScreen} {
    font-size: 0.85rem;
    margin-bottom: 4px;
  }
  
  @media #{v.$mq-smallScreenTwo} {
    font-size: 0.8rem;
    margin-bottom: 3px;
  }
}

.videoMetadata {
  display: flex;
  font-size: 0.8rem;
  color: #b0b0b0; 
  align-items: center;
  margin-top: auto;
  
  @media #{v.$mq-smallScreen} {
    font-size: 0.75rem;
  }
  
  @media #{v.$mq-smallScreenTwo} {
    font-size: 0.7rem;
  }
}

.viewCount {
  margin-right: 8px;
}

.publishedAt {
  position: relative;

  &::before {
    content: '•';
    margin: 0 4px;
  }
}